<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-row">
                <div class="card-col">
                    <nb-card>
                        <nb-card-header class="card-header">Seu novo melhor amigo!</nb-card-header>
                        <nb-card-body>
                            <img src="./../../../assets/img/pablo-good-job.png" style="max-width: 100%;" />
                            <button nbButton fullWidth hero status="info">conheça nossos filhotes</button>
                        </nb-card-body>
                    </nb-card>
                    <nb-card>
                        <nb-card-header class="card-header">Invista na saúde do seu pet</nb-card-header>
                        <nb-card-body>
                            <img src="./../../../assets/img/pablo-growing-up.png" style="max-width: 100%;" />
                            <button nbButton fullWidth hero status="info">saiba mais</button>

                        </nb-card-body>

                    </nb-card>
                    <nb-card>
                        <nb-card-header class="card-header">Entre em contato conosco</nb-card-header>
                        <nb-card-body>
                            <img src="./../../../assets/img/pablo-message-sent.png" style="max-width: 100%;" />
                            <button nbButton fullWidth hero status="info">atendimento</button>
                        </nb-card-body>
                    </nb-card>
                    <nb-card>
                        <nb-card-header class="card-header">dicas importantes</nb-card-header>
                        <nb-card-body>
                            <img src="./../../../assets/img/pablo-no-connection.png" style="max-width: 100%;" />
                            <button nbButton fullWidth hero status="info">ver mais</button>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
    </div>
</div>