table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    text-align: center;
}

th.mat-header-cell {
    text-align: center;
    max-width: 300px;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    padding-left: 0px;
    width: 35%;
}

.full-width {
    margin: auto;
    width: 100%;
    max-width: 100%;
}

.mat-card>:first-child, .mat-card-content>:first-child {
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 15px;
}

.mat-card-head {
    background-color: #E0F2F1 !important
}
