<nb-layout>
    <nb-layout-header fixed>
        <button nbButton size="small" (click)="toggle()" style="margin-right: 20px;">
            <nb-icon icon="menu-outline"></nb-icon>
        </button>
        <nb-icon icon="heart-outline" status="danger"></nb-icon>
        &nbsp; <b>Petshop Swagger &nbsp;
            <nb-badge [text]="version" position="top left"></nb-badge>
        </b>
    </nb-layout-header>


    <nb-sidebar fixed state="collapsed" style="transition: width 0.2s;">
            <nb-menu [items]="items" style="transition: width 1s; animation-delay: 2s;">
            </nb-menu>
    </nb-sidebar>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
    <nb-layout-footer>
        <app-footer></app-footer>
    </nb-layout-footer>
</nb-layout>